.maize-home{
    color: white;
}

.maize-home h1{
    padding: 10px;
    font-size: 3rem;
    text-align: center;
}

.maize-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
}

.maize-info img {
    border-radius: 30px;
    width: 600px;
}
